.big-screen-toolbar {
  height: 72px;
  float: left;
  width: fit-content;
  background-color: unset;
}

.mat-stepper-next .mat-icon {
  margin-right: -16px;
}

.mat-stepper-previous .mat-icon {
  margin-left: -16px;
}

.stepper-action-buttons {
  display: flex;
  margin-top: 18px;
}

.stepper-action-buttons .spacer {
  flex: 1;
}
