<mat-toolbar [class]="isBigScreen ? 'big-screen-toolbar' : ''"
  >Invoice #1</mat-toolbar
>

<mat-horizontal-stepper [ngClass]="{ 'big-screen': isBigScreen }">
  <mat-step *ngIf="!isBigScreen" [stepControl]="invoiceFormGroup">
    <form [formGroup]="invoiceFormGroup">
      <ng-template matStepLabel>Create</ng-template>

      <span>Create Content</span>

      <br />

      <mat-form-field>
        <mat-label>Description</mat-label>
        <input
          matInput
          formControlName="description"
          placeholder="Description"
          required
        />
      </mat-form-field>

      <br />
      <br />

      <div>
        <button mat-raised-button matStepperNext>Preview</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>{{
      isBigScreen ? "Edit & Preview" : "Preview"
    }}</ng-template>

    <span>Edit & Preview Content</span>

    <br />
    <br />

    <div>
      <button
        mat-raised-button
        *ngIf="!isBigScreen"
        style="margin-right: 24px"
        matStepperPrevious
      >
        Create
      </button>
      <button mat-raised-button matStepperNext>Send</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Send</ng-template>

    <span>Send Content</span>

    <br />
    <br />

    <div>
      <button mat-raised-button matStepperPrevious>Preview</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
