<mat-toolbar
  [class]="isBigScreen ? 'big-screen-toolbar' : ''"
  (click)="editPreviewInvoice.showEditButtons = false"
  >Invoice #{{ +invoiceForm.get("invoiceNumber")?.value }}</mat-toolbar
>

<mat-horizontal-stepper
  [ngClass]="{ 'big-screen': isBigScreen }"
  [selectedIndex]="currentStepperIndex"
  (selectionChange)="currentStepperIndex = $event.selectedIndex"
  (click)="editPreviewInvoice.showEditButtons = false"
>
  <mat-step
    *ngIf="!isBigScreen"
    [stepControl]="invoiceForm"
    errorMessage=""
    #createOrEditStep
  >
    <ng-template matStepLabel>{{
      createOrEditStep.interacted ? "Edit" : "Create"
    }}</ng-template>
    <app-edit-invoice></app-edit-invoice>

    <div class="stepper-action-buttons">
      <button mat-button type="button" color="accent" matStepperNext>
        <span>Preview</span>
        <mat-icon>arrow_right</mat-icon>
      </button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>{{
      isBigScreen ? "Edit & Preview" : "Preview"
    }}</ng-template>

    <div #previewContainer>
      <app-edit-preview-invoice
        [parentContainer]="previewContainer"
        [editMode]="isBigScreen"
        #editPreviewInvoice
      ></app-edit-preview-invoice>
    </div>

    <div class="stepper-action-buttons">
      <button
        mat-button
        *ngIf="!isBigScreen"
        style="margin-right: 24px"
        color="accent"
        type="button"
        matStepperPrevious
      >
        <mat-icon>arrow_left</mat-icon>
        <span>Edit</span>
      </button>

      <div *ngIf="!isBigScreen" class="spacer"></div>

      <button mat-button type="button" color="accent" matStepperNext>
        <span>Send</span>
        <mat-icon>arrow_right</mat-icon>
      </button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Send</ng-template>

    <span>Send Content</span>

    <br />
    <br />

    <div class="stepper-action-buttons">
      <button mat-button type="button" color="accent" matStepperPrevious>
        <mat-icon>arrow_left</mat-icon>

        <span>Preview</span>
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
