<form [formGroup]="invoiceForm" autocomplete="off">
  <mat-card class="mat-elevation-z0">
    <mat-card-header style="margin-bottom: 8px">
      <mat-card-title>Description</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>

    <mat-card-content
      style="
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 12px;
      "
    >
      <mat-form-field floatLabel="always">
        <mat-label>Billed to</mat-label>
        <input matInput formControlName="billedTo" type="text" required />
      </mat-form-field>

      <div>
        <mat-form-field class="date-form-fields">
          <mat-label>Issue Date</mat-label>
          <input
            matInput
            formControlName="issueDate"
            [matDatepickerFilter]="dateFilter"
            [matDatepicker]="issueDatePicker"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="issueDatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #issueDatePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="date-form-fields">
          <mat-label>Due Date</mat-label>
          <input
            matInput
            formControlName="dueDate"
            [matDatepickerFilter]="dateFilter"
            [matDatepicker]="dueDatePicker"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="dueDatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #dueDatePicker></mat-datepicker>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>

  <div
    formArrayName="lineItems"
    cdkDropList
    class="line-item-list"
    [cdkDropListData]="lineItems.controls"
    (cdkDropListDropped)="drop($event)"
  >
    <div
      *ngFor="let _ of lineItems.controls; index as i"
      class="line-item"
      cdkDrag
      cdkDragLockAxis="y"
      @addOrRemoveLineItem
    >
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
        "
      >
        <button
          mat-icon-button
          style="cursor: move; margin-left: -8px"
          type="button"
          disableRipple
          cdkDragHandle
        >
          <mat-icon>drag_handle</mat-icon>
        </button>

        <mat-card
          [formGroupName]="i"
          class="line-items mat-elevation-z0"
          style="flex: 1; padding-top: 0px"
        >
          <div class="item-field-row">
            <mat-form-field style="width: 108px" floatLabel="never">
              <input
                matInput
                formControlName="description"
                type="text"
                placeholder="Item description"
                required
              />
            </mat-form-field>

            <div style="width: 48px"></div>
          </div>

          <div class="item-field-row">
            <mat-form-field style="width: 96px" floatLabel="always">
              <mat-label>Unit Cost</mat-label>
              <input
                matInput
                formControlName="unitCost"
                style="text-align: center"
                placeholder="{{ 0 | currency }}"
                type="number"
                required
              />
              <span matPrefix *ngIf="lineItems.get([i])?.get('unitCost')?.value"
                >$&nbsp;</span
              >
            </mat-form-field>

            <div style="flex: 1"></div>
            <div style="width: 48px"></div>
          </div>

          <div class="item-field-row" style="flex-wrap: wrap">
            <mat-form-field style="width: 72px" floatLabel="always">
              <mat-label>Quantity</mat-label>
              <input
                matInput
                type="number"
                formControlName="quantity"
                style="text-align: center"
                required
              />
            </mat-form-field>

            <div style="flex: 3"></div>

            <div style="margin-bottom: 12px; display: flex; flex: 1">
              <div style="flex: 1"></div>

              <div>
                {{
                  lineItems.get([i])?.get("unitCost")?.value *
                    lineItems.get([i])?.get("quantity")?.value | currency
                }}
              </div>
            </div>
          </div>
        </mat-card>

        <button
          mat-icon-button
          style="cursor: pointer; margin-right: -8px"
          type="button"
          (click)="deleteLineItem(i)"
        >
          <mat-icon fontSet="material-icons-outlined">delete_forever</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <mat-card
    class="mat-elevation-z0"
    style="border-style: unset; text-align: center; padding-top: 0px"
  >
    <button
      mat-stroked-button
      type="button"
      (click)="addLineItem()"
      color="accent"
    >
      <span>Add Item &nbsp;</span>
      <mat-icon fontSet="material-icons-outlined">add_box</mat-icon>
    </button>
  </mat-card>

  <mat-card class="mat-elevation-z0 edit-summary">
    <mat-card-header>
      <mat-card-title>Summary</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-list>
        <mat-divider></mat-divider>
        <mat-list-item
          ><span class="mat-body">Subtotal:</span>&nbsp;&nbsp;{{
            subtotal | currency
          }}</mat-list-item
        >
        <mat-divider></mat-divider>

        <mat-list-item>
          <span class="mat-body">Tax Rate:</span>&nbsp;&nbsp;

          <mat-form-field
            style="width: 48px; font-size: 14px"
            floatLabel="always"
          >
            <mat-label></mat-label>

            <input
              matInput
              formControlName="taxRate"
              type="number"
              style="text-align: center"
              placeholder="{{ 0 }}"
            />

            <span matSuffix *ngIf="true">&#37;</span>
          </mat-form-field>

          <span style="flex: 1"></span>

          <span
            ><span class="mat-body">Tax:</span>&nbsp;&nbsp;{{
              taxRate | currency
            }}</span
          >
        </mat-list-item>

        <mat-divider></mat-divider>
        <mat-list-item>
          <span class="mat-body">Total:</span>&nbsp;&nbsp;
          <b>
            {{ total | currency }}
          </b>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</form>
