<form [formGroup]="invoiceForm" (submit)="close()">
  <mat-card class="mat-elevation-z0">
    <ng-container [ngSwitch]="inputField">
      <ng-container *ngSwitchCase="'line item'">
        <div formArrayName="lineItems">
          <div
            [formGroupName]="lineItemIndex"
            class="line-items"
            style="flex: 1; padding-top: 0px; width: 280px"
          >
            <div class="item-field-row">
              <mat-form-field style="width: 108px" floatLabel="never">
                <input
                  matInput
                  formControlName="description"
                  type="text"
                  placeholder="Item description"
                  required
                />
              </mat-form-field>

              <div style="width: 48px"></div>
            </div>

            <div class="item-field-row">
              <mat-form-field style="width: 96px" floatLabel="always">
                <mat-label>Unit Cost</mat-label>
                <input
                  matInput
                  formControlName="unitCost"
                  style="text-align: center"
                  placeholder="{{ 0 | currency }}"
                  type="number"
                  min="0"
                  max="1000000000"
                  required
                />
                <span matPrefix *ngIf="lineItem?.get('unitCost')?.value"
                  >$&nbsp;</span
                >
              </mat-form-field>

              <div style="flex: 1"></div>
              <div style="width: 48px"></div>
            </div>

            <div class="item-field-row" style="flex-wrap: wrap">
              <mat-form-field style="width: 72px" floatLabel="always">
                <mat-label>Quantity</mat-label>
                <input
                  matInput
                  formControlName="quantity"
                  style="text-align: center"
                  type="number"
                  min="0"
                  max="1000000000"
                  required
                />
              </mat-form-field>

              <div style="flex: 3"></div>

              <div style="margin-bottom: 12px; display: flex; flex: 1">
                <div style="flex: 1"></div>

                <div>
                  {{
                    lineItem?.get("unitCost")?.value *
                      lineItem?.get("quantity")?.value | currency
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'tax rate'">
        <mat-form-field style="width: 60px" floatLabel="always">
          <mat-label>Tax Rate</mat-label>

          <input
            matInput
            formControlName="taxRate"
            style="text-align: center"
            type="number"
            min="0"
            max="99"
            placeholder="{{ 0 }}"
          />

          <span matSuffix *ngIf="true">&#37;</span>
        </mat-form-field>
      </ng-container>

      <ng-container *ngSwitchDefault></ng-container>
    </ng-container>

    <mat-card-actions [attr.align]="'center'">
      <ng-container [ngSwitch]="action">
        <ng-container *ngSwitchCase="'add'">
          <button mat-button type="button" mat-dialog-close>Cancel</button>

          <button mat-button type="submit" color="accent">
            <span>Add</span>
          </button>
        </ng-container>
        <ng-container *ngSwitchCase="'update'">
          <button mat-button type="submit" color="accent">
            <span>Back</span>
          </button>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <button mat-button type="submit" color="accent">
            <span>Back</span>
          </button>
        </ng-container>
      </ng-container>
    </mat-card-actions>
  </mat-card>
</form>
