/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  max-width: 1280px;
  margin: 0 auto !important;
  float: none !important;
}

.mat-card {
  border: 1px solid lightgrey;
  margin-bottom: 6px;
  padding-bottom: 0px;
}

mat-horizontal-stepper.big-screen .mat-stepper-horizontal-line {
  flex: 0;
}

mat-horizontal-stepper.big-screen .mat-horizontal-stepper-header-container {
  justify-content: flex-end;
}

mat-horizontal-stepper .mat-horizontal-stepper-header-container {
  margin-bottom: 16px;
}

mat-card.line-items .mat-card-header-text {
  margin: 0px;
}

.edit-summary .mat-list .mat-list-item .mat-list-item-content {
  justify-content: flex-end;
  padding: 0px;
}

.preview-content .mat-list-base .mat-list-item .mat-list-item-content {
  padding-top: 14px;
  padding-bottom: 14px;
}

.required-field-color,
mat-hint.mat-hint.required-field-color {
  color: #d32f2f;
}
