/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-horizontal-stepper.big-screen .mat-stepper-horizontal-line {
  flex: 0;
}

mat-horizontal-stepper.big-screen .mat-horizontal-stepper-header-container {
  justify-content: flex-end;
}

mat-horizontal-stepper .mat-horizontal-stepper-header-container {
  margin-bottom: 24px;
}

mat-card.line-items .mat-card-header-text {
  margin: 0px;
}

.edit-summary .mat-list .mat-list-item .mat-list-item-content {
  justify-content: flex-end;
  padding: 0px;
}
