.mat-card {
  padding-top: 141.42%;
  position: relative;
  border-radius: 0%;
}

.preview-container {
  box-sizing: border-box;
  transform-origin: top;
  margin: auto;
  top: 0px;
  left: 50%;
  z-index: 1;
  position: absolute;
  border-radius: 0px;
}

.preview-content {
  position: absolute;
  top: 36px;
  left: 36px;
  bottom: 36px;
  right: 36px;
  font-family: "Source Sans Pro", sans-serif;
}

.header {
  display: flex;
  background-color: whitesmoke;
  margin: -36px;
  padding: 36px 52px;
  margin-bottom: 24px;
}

.header > div {
  height: 96px;
  display: flex;
  align-items: center;
}

.subheader {
  font-variant: small-caps;
  display: flex;
}

.subheader > div {
  flex: 1;
}
