<div style="position: relative" [ngStyle]="{ height: previewHeight }">
  <div
    class="preview-container"
    appStopClickPropagation
    [ngStyle]="{ width: invoiceWidth + 'px', transform: previewScale }"
    #previewContainer
  >
    <div
      class="preview-card mat-elevation-z4"
      [ngClass]="{ 'show-edit-buttons': _editMode && showEditButtons }"
      (click)="toggleEditButtons(previewCard)"
      #previewCard
    >
      <div *ngIf="_editMode && displayToggleInfo" class="toggle-info mat-title">
        <span style="flex: 1">Click to Edit</span>
      </div>

      <main class="preview-content">
        <section class="header">
          <div style="flex: 2">
            <div style="padding-right: 72px">
              <div class="mat-display-1" style="margin-bottom: 0px">
                INVOICE
              </div>
              <div>
                {{ invoiceForm.get("description")?.value }}
              </div>
            </div>
          </div>

          <div
            style="
              flex: 1;
              text-align: center;
              background-color: white;
              justify-content: center;
              padding: 0px 16px;
            "
          >
            <div>
              <div>Amount Due</div>
              <div
                class="mat-display-1"
                style="margin-bottom: 0px; max-width: 350px"
              >
                {{ total | currency: "CAD" }}
              </div>
            </div>
          </div>
        </section>

        <section class="subheader mat-subheading-2">
          <div style="flex: 4">
            <div class="field-label">Billed To:</div>
            <div>{{ invoiceForm.get("billedTo")?.value }}</div>
          </div>
          <div style="flex: 1; text-align: right">
            <div class="field-label">Invoice Number:</div>
            <div class="field-label">Issue Date:</div>
            <div class="field-label">Due Date:</div>
          </div>
          <div style="flex: 1; padding: 0px 16px">
            <div>{{ +invoiceForm.get("invoiceNumber")?.value }}</div>
            <div>
              {{
                +invoiceForm.get("issueDate")?.value
                  ? (+invoiceForm.get("issueDate")?.value | date)
                  : "&mdash;"
              }}
            </div>
            <div>
              {{
                +invoiceForm.get("dueDate")?.value
                  ? (+invoiceForm.get("dueDate")?.value | date)
                  : "&mdash;"
              }}
            </div>
          </div>
        </section>

        <section class="body">
          <mat-list>
            <mat-list-item class="line-item-header">
              <div class="row">
                <span class="column-description field-label">Description</span>
                <span class="column-unit-cost field-label">Unit Cost</span>
                <span class="column-quantity field-label">Quantity</span>
                <span class="column-total field-label">Total</span>
              </div>
            </mat-list-item>
          </mat-list>

          <mat-list
            cdkDropList
            class="line-item-list"
            [cdkDropListData]="lineItems.controls"
            (cdkDropListDropped)="drop($event)"
          >
            <mat-list-item
              *ngFor="let lineItem of lineItems.controls; index as i"
              class="line-item"
              style="background-color: white"
              cdkDrag
              cdkDragLockAxis="y"
              [cdkDragDisabled]="!(_editMode && showEditButtons)"
              @addOrRemoveLineItem
            >
              <button
                mat-icon-button
                *ngIf="_editMode && showEditButtons"
                class="edit-mode-item"
                style="left: -40px; cursor: move"
                type="button"
                disableRipple
                color="accent"
                cdkDragHandle
              >
                <mat-icon>drag_handle</mat-icon>
              </button>

              <div class="row">
                <span
                  class="column-description"
                  [ngClass]="{
                    'required-field': !lineItem.get('description')?.value
                  }"
                >
                  {{ lineItem.get("description")?.value || "*" }}
                </span>

                <div class="edit-mode-item-container">
                  <button
                    mat-icon-button
                    *ngIf="_editMode && showEditButtons"
                    class="edit-mode-item mat-elevation-z1"
                    style="
                      top: 50%;
                      transform: translateY(-50%);
                      left: -40px;
                      background-color: white;
                    "
                    (click)="editLineItem(i)"
                    color="accent"
                    appStopClickPropagation
                  >
                    <mat-icon fontSet="material-icons-outlined">edit</mat-icon>
                  </button>
                </div>

                <span class="column-unit-cost">
                  {{ lineItem.get("unitCost")?.value || 0 | currency }}
                </span>

                <span
                  class="column-quantity"
                  [ngClass]="{
                    'required-field': !lineItem.get('quantity')?.value
                  }"
                >
                  {{ lineItem.get("quantity")?.value || 0 }}
                </span>

                <span class="column-total">
                  {{
                    lineItem?.get("unitCost")?.value *
                      lineItem?.get("quantity")?.value | currency
                  }}
                </span>
              </div>

              <button
                mat-icon-button
                *ngIf="_editMode && showEditButtons"
                class="edit-mode-item"
                style="right: -40px"
                type="button"
                (click)="deleteLineItem(i)"
                color="accent"
                appStopClickPropagation
              >
                <mat-icon fontSet="material-icons-outlined"
                  >delete_forever</mat-icon
                >
              </button>
            </mat-list-item>

            <div
              *ngIf="_editMode && showEditButtons"
              class="edit-mode-item-container"
            >
              <button
                mat-button
                class="edit-mode-item"
                (click)="addLineItem()"
                color="accent"
                appStopClickPropagation
              >
                <span>Add Item &nbsp;</span>
                <mat-icon fontSet="material-icons-outlined">add_box</mat-icon>
              </button>
            </div>
          </mat-list>
        </section>

        <section class="summary" *ngIf="lineItems.controls.length">
          <mat-list style="width: 38%">
            <mat-list-item style="border-top: 1px solid lightgrey">
              <div class="row">
                <span class="field-label">Subtotal :</span>
                <span class="column-total">{{ subtotal | currency }}</span>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div class="row">
                <span class="field-label"
                  >{{ invoiceForm?.get("taxRate")?.value }}&#37;&nbsp;Tax
                  :</span
                >
                <span class="column-total">{{ taxAmount | currency }}</span>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div class="row">
                <span class="field-label">Total :</span>
                <span class="column-total">
                  <b>{{ total | currency }}</b>
                </span>
              </div>
            </mat-list-item>
          </mat-list>
        </section>
      </main>
    </div>
  </div>
</div>
