.preview-card {
  padding-top: 141.42%;
  position: relative;
  border: 1px solid lightgrey;
  margin-top: 2px;
  cursor: pointer;
  overflow: hidden;
}

.preview-card.show-edit-buttons {
  border-color: transparent;
  box-shadow: 0 0 0 2px #2196f3;
}

.preview-container {
  box-sizing: border-box;
  transform-origin: top;
  margin: auto;
  top: 0px;
  left: 50%;
  z-index: 1;
  position: absolute;
  border-radius: 0px;
}

.toggle-info {
  position: absolute;
  z-index: 2;
  width: 160px;
  height: 160px;
  top: 72px;
  left: 256px;
  color: #1565c0;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 0px 162px rgba(32, 148, 243, 0.2),
    0 0 0px 342px rgba(32, 148, 243, 0.2), 0 0 0px 654px rgba(32, 148, 243, 0.2),
    0 0 0px 994px rgba(32, 148, 243, 0.2);
  display: flex;
  align-items: center;
  animation: 2.5s fadeIn;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeIn {
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.preview-content {
  position: absolute;
  top: 36px;
  left: 36px;
  bottom: 36px;
  right: 36px;
  font-family: "Source Sans Pro", sans-serif;
}

.header {
  display: flex;
  margin: -36px;
  padding: 36px 52px;
  margin-bottom: 24px;
}

.header > div {
  height: 96px;
  display: flex;
  align-items: center;
}

.subheader {
  display: flex;
}

.subheader .field-label {
  font-variant: small-caps;
}

.subheader > div {
  flex: 1;
}

.cdk-drag-preview {
  padding: 16px;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.line-item.cdk-drag-preview .edit-mode-item {
  opacity: 0;
}

.edit-mode-item-container {
  position: relative;
}

.edit-mode-item {
  position: absolute;
}

.line-item-header,
.summary .field-label,
.header {
  background-color: whitesmoke;
}

.line-item-header,
.summary .field-label {
  border: 1px solid whitesmoke;
}

.line-item-list {
  padding-top: 0px;
}

.line-item-list.cdk-drop-list-dragging .line-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.line-item,
.summary .mat-list-item {
  border: 1px solid;
  border-top: 0px;
  border-bottom-color: lightgrey;
  border-left-color: whitesmoke;
  border-right-color: whitesmoke;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
}

.preview-content .mat-list-item {
  height: unset;
  min-height: 48px;
}

.column-description {
  flex: 3;
}

.column-unit-cost,
.column-quantity {
  flex: 1;
  text-align: right;
}

.column-total {
  width: 160px;
  text-align: right;
}

.required-field {
  color: #d32f2f;
}

.row {
  justify-content: space-between;
  flex: 1;
  display: flex;
}

.summary {
  display: flex;
  justify-content: flex-end;
}

.summary .mat-list-item span {
  text-align: right;
}

.summary .field-label {
  flex: 1;
  margin-left: -16px;
  padding-left: 16px;
  margin-top: -15px;
  padding-top: 14px;
  margin-bottom: -15px;
  padding-bottom: 12px;
  padding-right: 6px;
}
